<!--<div class="bg-another-bg  bg-center min-h-screen">
    <div class="flex items-center justify-center min-h-screen  p-6">
        <p class="text-4xl font-bold text-center text-white">
            mAI Plant helps you keep track and take care of your plant's growth with sensors and AI.
        </p>
        <div class="absolute top-1/5 left-1/4 w-1/2 h-96 rounded-lg overflow-hidden bg-another-bg bg-blend-multiply bg-right-bottom border-2 border-indigo-500 flex flex-col justify-center">
   
   
</div>
    </div>
</div>-->
<div class="relative h-screen w-screen">
    <div class="absolute opacity-75  inset-0 -z-10 h-full w-full bg-white [background:radial-gradient(125%_125%_at_50%_10%,#fff_40%,#63e_100%)]"></div>
    <div class="hero ">
    <div class="hero-content text-center">
        <div class="max-w-md">
          <h1 class="text-5xl font-bold">Hello there</h1>
          <p class="py-6 text-4xl">
            <a class="text-lime-700">mAIplant</a> helps you keep track and take care of your plant's growth with AI.
          </p>
          <button class="btn btn-primary">Get Started</button>
        </div>
    </div>
</div>

