<div class="navbar-end">
    <div class="dropdown dropdown-end">
      <div tabindex="0" class="btn btn-ghost btn-circle avatar">
        <div class="w-10 rounded-full">
          <img alt="User Avatar" src="https://cdn-icons-png.flaticon.com/512/2815/2815428.png" />
        </div>
      </div>
      <ul tabindex="0" class="menu menu-sm dropdown-content bg-base-100 rounded-box z-[1] mt-3 w-52 p-2 shadow">
        <li>
          <label for="auth_modal" class="btn">Sign In | Up</label>
        </li>
      </ul>
    </div>
  </div>

