<section class="homepage">
    <div class="navbar bg-gray-300">
        <div class="navbar-start">
            <a href="#" class="text-5xl font-semibold text-white hover:text-emerald-600 font-serif">mAI plant </a>
    
    
          <div class="dropdown">
            <div tabindex="0" role="button" class="btn btn-ghost lg:hidden">
              <svg
                xmlns="http://www.w3.org/2000/svg"
                class="h-5 w-5"
                fill="none"
                viewBox="0 0 24 24"
                stroke="currentColor">
                <path
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  stroke-width="2"
                  d="M4 6h16M4 12h8m-8 6h16" />
              </svg>
            </div>
          </div>
          <a class="btn btn-ghost text-xl"></a>
        </div>
        <div class="navbar-center hidden lg:flex">
          <ul class="menu menu-horizontal px-1">
            <li><a>Item 1</a></li>
            <li>
              <details>
                <summary>Parent</summary>
                <ul class="p-2">
                  <li><a>Submenu 1</a></li>
                  <li><a>Submenu 2</a></li>
                </ul>
              </details>
            </li>
            <li><a>Item 3</a></li>
          </ul>
        </div>
        <div class="navbar-end">
            <div class="dropdown dropdown-end">
              <div tabindex="0" class="btn btn-ghost btn-circle avatar">
                <div class="w-10 rounded-full">
                  <img alt="User Avatar" src="https://media.licdn.com/dms/image/v2/D4E03AQHJ4VzFAXoj2Q/profile-displayphoto-shrink_200_200/profile-displayphoto-shrink_200_200/0/1718739218019?e=2147483647&v=beta&t=uqUwjHzp1OiaqGKu36t9cmGsymRyxBe9UDfbeyd6hGE" />
                </div>
              </div>
              <ul tabindex="0" class="menu menu-sm dropdown-content bg-base-100 rounded-box z-[1] mt-3 w-52 p-2 shadow">
                <li>
                  <a class="justify-between">
                    Account
                    <span class="badge">New</span>
                  </a>
                </li>
                <li><a>Settings</a></li>
                <li><a>Logout</a></li>
              </ul>
            </div>
          </div>
        </div>
    
      
    <div class="bg-another-bg  bg-center min-h-screen">
        
        <div class="flex items-center justify-center min-h-screen  p-6">
            <p class="text-4xl font-bold text-center text-white">
              mAI Plant helps you keep track and take care of your plant's growth with sensors and AI.
            </p>
          </div>
        
    </div>
    
</section>
<section>
    <div class="bg-custom-bg  bg-center min-h-screen">
    </div>
       
</section>