<div class="navbar bg-gray-300">
  <div class="navbar-start">
    <a href="#" class="text-5xl font-semibold text-white hover:text-emerald-600 font-serif">
      <img alt="mAIplant" src="./mAIplant.png" />
    </a>
  </div>

  <div class="navbar-center hidden lg:flex">
    <ul class="menu menu-horizontal px-1">
      <li><a routerLink="/" routerLinkActive="active" ariaCurrentWhenActive="page">Homepage</a></li>
      <li><a routerLink="/aboutus-component" routerLinkActive="active" ariaCurrentWhenActive="page">About us</a></li>
      <li class="dropdown dropdown-hover">
        <div tabindex="0" role="button"> Our plant selection </div>
        <ul tabindex="0" class="menu dropdown-content z-[1] bg-base-100 p-2 rounded-box shadow w-36">
          <li><a routerLink="/indoorplants-component" routerLinkActive="active" ariaCurrentWhenActive="page">Indoor</a>
          </li>
          <li><a routerLink="/outdoorplants-component" routerLinkActive="active"
              ariaCurrentWhenActive="page">Outdoor</a></li>
        </ul>
      </li>
    </ul>
  </div>

  <div class="navbar-end">
    <div class="dropdown dropdown-end">
      <div tabindex="0" class="btn btn-ghost btn-circle avatar">
        <div class="w-10 rounded-full">
          <img alt="User Avatar" src="https://cdn-icons-png.flaticon.com/512/2815/2815428.png" />
        </div>
      </div>
      <ul tabindex="0" class="menu menu-sm dropdown-content bg-base-100 rounded-box z-[1] mt-3 w-52 p-2 shadow">
        <li><a class="btn" routerLink="/login-component" routerLinkActive="active">Sign In | Up</a></li>
      </ul>
    </div>
  </div>
</div>

<router-outlet />

